{
    "presets": [
        "react",
        ["env", {
            "modules": false,
            "loops": true,
            "targets": {
                "chrome": 60
            }
        }]
    ],
    "plugins": [
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-class-properties"
    ],
    "env": {
        "production": {
            "plugins": [
                "lodash",
                ["transform-react-remove-prop-types", {
                    "mode": "remove",
                    "removeImport": true
                }]
            ]
        }
    }
}
